<div class="contain ag-gridcls">
    <div class="filterpnl" *ngIf="filterShow">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button title="Previous" *ngIf="isFilter && searchItem.length>0" (click)="prev()">
                    <i class="icon-next p-0" style="transform: rotate(180deg);"></i>
                </button>
                <button class="QuickSearch" style="width: auto;">
                    <input type="text" placeholder="Quick search grid" [ngModel]="mymodel"
                        (ngModelChange)="valuechange($event)" class="k-textbox form-control QuickSearchtxt">
                    <input type="checkbox" *ngIf="mymodel!=''" id="isFresh" [(ngModel)]="isFilter"
                        (change)="isFilterChange($event)" style="margin-left: 7px;margin-right: 7px;" name="isfresh">
                </button>
                <!-- <button title="Next" *ngIf="isFilter && searchItem.length>0" (click)="next()">
                    <i class="icon-next p-0"></i>
                </button>
                <button title="Excel Download" (click)="excel()">
                    <i class="k-icon k-i-file-excel p-0"></i>
                </button>
                <button title="Resize Columns" (click)="autoSize()" id=fullscreen-wrap>
                    <i class="fscreen p-0"></i>
                </button>
                <button hidden title="Hide-Show Columns" (click)="toolPanel()" id=eye-wrap>
                    <i class="feye p-0"></i>
                </button>
                <button title="Expand"
                    *ngIf="gridApi!=undefined && gridApi.columnController.groupDisplayColumns.length>0"
                    (click)="expand()" id=expand-wrap>
                    <i class="fexpand p-0"></i>
                </button>
                <button title="Collapse"
                    *ngIf="gridApi!=undefined && gridApi.columnController.groupDisplayColumns.length>0"
                    (click)="collapse()" id=collapse-wrap>
                    <i class="fcollapse p-0"></i>
                </button>
                <button title="Select All" (click)="sAll()" id=select-wrap>
                    <i class="fselect p-0"></i>
                </button>
                <button title="DSelect All" (click)="dAll()" id=dselect-wrap>
                    <i class="fdselect p-0"></i>
                </button>
                <button title="Inverse Selection" (click)="inverseAll()" id=iselect-wrap>
                    <i class="fiselect p-0"></i>
                </button> -->
            </div>
        </div>
    </div>
    <ag-grid-angular #agGrid style="width: 100% !important; height: 100% !important;" id="myGrid"
        class="ag-theme-alpine" [rowHeight]="rowHeight" [defaultColDef]="defaultColDef"
        [autoGroupColumnDef]="autoGroupColumnDef" [enableRangeSelection]="true"
        (selectionChanged)="onSelectionChanged($event)" [rowGroupPanelShow]="rowGroupPanelShow" [animateRows]="true"
        (filterChanged)="onFilterChanged($event)" [gridOptions]="_gridOptions"
        (cellValueChanged)="onCellValueChanged($event)" (cellEditingStarted)="oncellEditingStarted()"
        [rowSelection]="rowSelection" (cellKeyPress)="onCellKeyPress($event)"
        (cellEditingStopped)="oncellEditingStopped()" (rowDataChanged)='onRowDataChanged()'
        (rowDataUpdated)='onRowDataUpdated()' (modelUpdated)='onModelUpdated($event)' [getRowClass]="getRowClass"
        (rowDoubleClicked)='onRowDoubleClicked($event)' [sideBar]="sideBar" [statusBar]="statusBar"
        [enableRangeSelection]="true" (gridReady)="onGridReady($event)" [applyColumnDefOrder]="true"
        [suppressRowClickSelection]="_suppressRowClickSelection" (cellClicked)='onCellClicked($event)'
        [suppressCopyRowsToClipboard]="true" [suppressDragLeaveHidesColumns]="true" [masterDetail]="masterDetail">
    </ag-grid-angular>

</div>