<div class="contain ag-gridcls">
    <div class="filterpnl " *ngIf="filterShow">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <div class=" QuickSearchBtn">
                <button title="Previous" class="btn" *ngIf="isFilter && searchItem.length>0" (click)="prev()">
                    <i class="las la-arrow-left gridicon"></i>
                </button>
                <div class="QuickSearch" style="width: auto;display: flex;">
                    <input type="text" style="background-color: white;" placeholder="Quick search grid"
                        [ngModel]="mymodel" (ngModelChange)="valuechange($event)"
                        class="k-textbox form-control QuickSearchtxt">
                    <input type="checkbox" *ngIf="mymodel!=''" id="isFresh" [(ngModel)]="isFilter"
                        (change)="isFilterChange($event)" style="margin-left: 7px;margin-right: 7px;height: 23px;"
                        name="isfresh">
                </div>
            </div>
            <div class="grid-btn">
                <button title="Next" class="btn" *ngIf="isFilter && searchItem.length>0" (click)="next()">
                    <i class="las la-arrow-right gridicon"></i>
                </button>
                <button title="Excel Download" class="btn" (click)="excel()">
                    <i class="las la-file-excel gridicon"></i>
                </button>
                <button title="Resize Columns" class="btn" (click)="autoSize()" id=fullscreen-wrap>
                    <i class="las la-arrows-alt gridicon"></i>
                </button>
                <button hidden title="Hide-Show Columns" class="btn" (click)="toolPanel()" id=eye-wrap>
                    <i class="feye p-0 gridicon"></i>
                </button>
                <button title="Expand" class="btn"
                    *ngIf="gridApi!=undefined && gridApi.columnController.groupDisplayColumns.length>0"
                    (click)="expand()" id=expand-wrap>
                    <i class="las la-plus-square gridicon"></i>
                </button>
                <button title="Collapse" class="btn"
                    *ngIf="gridApi!=undefined && gridApi.columnController.groupDisplayColumns.length>0"
                    (click)="collapse()" id=collapse-wrap>
                    <i class="las la-minus-square gridicon"></i>
                </button>
                <button title="Select All" class="btn" (click)="sAll()" id=select-wrap>
                    <i class="las la-check-square gridicon"></i>
                </button>
                <button title="DSelect All" class="btn" (click)="dAll()" id=dselect-wrap>
                    <i class="las la-stop gridicon"></i>
                </button>
            </div>
            <!-- <button title="Inverse Selection" (click)="inverseAll()" id=iselect-wrap>
                    <i class="fiselect p-0"></i>
                </button> -->
        </div>
    </div>
    <ag-grid-angular #agGrid style="width: 100% !important; height: 100% !important;" id="myGrid"
        class="ag-theme-alpine" [rowHeight]="rowHeight" [defaultColDef]="defaultColDef"
        [autoGroupColumnDef]="autoGroupColumnDef" [enableRangeSelection]="true"
        (selectionChanged)="onSelectionChanged($event)" [rowGroupPanelShow]="rowGroupPanelShow" [animateRows]="true"
        (filterChanged)="onFilterChanged($event)" [gridOptions]="_gridOptions"
        (cellValueChanged)="onCellValueChanged($event)" (cellEditingStarted)="oncellEditingStarted()"
        [rowSelection]="rowSelection" (cellKeyPress)="onCellKeyPress($event)"
        (cellEditingStopped)="oncellEditingStopped()" (rowDataChanged)='onRowDataChanged()'
        (rowDataUpdated)='onRowDataUpdated()' (modelUpdated)='onModelUpdated($event)' [getRowClass]="getRowClass"
        (rowDoubleClicked)='onRowDoubleClicked($event)' [sideBar]="sideBar" [statusBar]="statusBar"
        [enableRangeSelection]="true" (gridReady)="onGridReady($event)" [applyColumnDefOrder]="true"
        [suppressRowClickSelection]="_suppressRowClickSelection" (cellClicked)='onCellClicked($event)'
        [suppressCopyRowsToClipboard]="true" [suppressDragLeaveHidesColumns]="true" [masterDetail]="masterDetail">
    </ag-grid-angular>

</div>